* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

body {
    background-color: rgb(223, 207, 194);
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-left: 25px;
    padding-left: 10px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(139, 111, 87);
    border: solid antiquewhite;
    border-width: 5px 0;
    padding: 20px;
}

nav a {
    color: antiquewhite;
    font-size: 20px;
}

.hero {
    height: 500px;
    width: 100%;
    background-image: url("https://img.freepik.com/free-photo/hand-painted-watercolor-background_24972-1973.jpg?w=1480&t=st=1667655489~exp=1667656089~hmac=8988c5cef2bb7c29f43e13c639b839e3913f02e82ae2c5a76c400684db94435f");
    background-size: cover;
    background-position: center;
}

h1 {
    position:absolute;
    top: 30%;
    left: 20%;
    font-size: 400%;
    color: rgb(139, 111, 87);
}

aside {
    flex-basis: 20%;
    border-right: solid rgb(139, 111, 87);
    border-right-width: 5px;
    text-align: center;
}

h2 {
    font-size: 200%;
    color: rgb(108, 88, 70);
}

#about-me {
    display: flex;
    /* flex-wrap: wrap; */
    flex-basis: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.headshot {
    padding-left: 5%;
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.headshot img {
    display: flex;
    flex-basis: 30%;
    /* margin-left: 5%; */
    border: solid rgb(139, 111, 87);
    border-width: 3px;
    border-radius: 65px;
    width: auto;
    height: 250px;
}
/* TODO: fix image distortion */

.headshot p {
    display: flex;
    flex-basis: 60%;
    margin-left: 5%;
    color: rgb(108, 88, 70);
} 

#work {
    display: flex;
    flex-basis: 20%;
    margin-bottom: 5%;
}

.projects {
    display: flex;
    flex-basis: 70%;
    padding: 5%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.projects header {
    font-size: 150%;
    background-color: rgb(139, 111, 87);
    color: antiquewhite;
    width: 30%;
    padding-left: 2%;
    padding-right: 1%;
}
/* TODO: Move project title on top of images */

.projects img {
    border: solid rgb(139, 111, 87);
    border-width: 3px;
    height: 100%;
    width: 100%;
}

.project-1 {
    flex-basis: 100%;
}

.coming-soon {
    flex-basis: 48%;
    justify-content: flex-start;
    padding-top: 1%;
}

#contact-me {
    display: flex;
    flex-basis: 20%;
}

.footer {
    display: flex;
    flex-basis: 70%;
    /* padding-left: 5%; */
    /* flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; */
    /* align-items: flex-start; */
}

.footer li {
    display: inline;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/* TODO: Display Responsiveness */


/* @media screen and (max-width:992px) {

}

@media (max-width 768px) {
    .project-1 {
        flex-basis: 100%;
    }
    .coming-soon {
        flex-basis: 100%;
    }
} */