* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 207, 194);
}

ul {
    list-style-type: none;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-left: 25px;
    padding-left: 10px;
}

a {
    text-decoration: none;
}

p {
    /* font-size: 18px; */
    color:rgb(139, 111, 87);
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(139, 111, 87);
    border: solid antiquewhite;
    border-width: 5px 0;
    padding: 20px;
}

nav a {
    color: antiquewhite;
    font-size: 20px;
}

.hero {
    height: 500px;
    width: 100%;
    background-image: url("https://img.freepik.com/free-photo/hand-painted-watercolor-background_24972-1973.jpg?w=1480&t=st=1667655489~exp=1667656089~hmac=8988c5cef2bb7c29f43e13c639b839e3913f02e82ae2c5a76c400684db94435f");
    background-size: cover;
    background-position: center;
}

h1 {
    position:absolute;
    top: 30%;
    left: 20%;
    font-size: 400%;
    color: rgb(139, 111, 87);
}

aside {
    flex-basis: 20%;
    border-right: solid rgb(139, 111, 87);
    border-right-width: 5px;
    /* padding: 80px; */
    text-align: center;
}

h2 {
    font-size: 200%;
    color: rgb(108, 88, 70);
}

#about-me {
    display: flex;
    flex-basis: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.headshot img {
    display: flex;
    flex-basis: 70%;
    margin-left: 5%;
    border: solid rgb(139, 111, 87);
    border-width: 3px;
    border-radius: 65px;
    width: 30%;
    height: 75%;
}

.headshot p {
    display: flex;
    margin-left: 5%;
}

#work {
    display: flex;
    flex-basis: 20%;
    margin-bottom: 5%;
}

.projects {
    display: flex;
    flex-basis: 70%;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.projects header {
    font-size: 150%;
    background-color: rgb(139, 111, 87);
    color: antiquewhite;
}

.projects img {
    border: solid rgb(139, 111, 87);
    border-width: 3px;
    height: 100%;
    width: 100%;
}

.project-1 {
    flex-basis: 100%;
}

.coming-soon {
    flex-basis: 48%;
    justify-content: space-around;
}

#contact-me {
    display: flex;
    flex-basis: 20%;
}

#footer li {
    display: flex;
    flex-basis: 70%;
}

/* TODO: just added the above code before breaking for gym
need to make horiseon proj larger than the other 4 */


/* .about-me {
    display: flex;
    flex-wrap: wrap;
} */

/* article section {
    display: flex;
    flex-wrap: wrap;
    flex: 0, 1, auto;
} */

/* .coming-soon {
    flex: 1;
} */

